@use 'sass:math';

$image-height: 204px;
$image-width: 146px;
$image-zoom: 1.75; // Scryfall supports up to 333%.
$premium-border-width: 4px;
$zoom-transition-duration: 250ms;

@keyframes premium {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.banned {
  bottom: 0;
  color: #ff0000;
  font-family: sans-serif;
  font-size: $image-height;
  font-weight: bold;
  left: 0;
  line-height: $image-height;
  opacity: 0.33;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 1rem;
  transition-delay: 0s;
  transition-duration: $zoom-transition-duration;
  transition-property: opacity;
  transition-timing-function: ease-out;
  z-index: 3;
}

body {
  background-color: #101010;
  color: #f0f0f0;
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
  padding-bottom: 4rem;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.count {
  bottom: -1em;
  color: #c0c0c0;
  font-family: "Beleren Bold", sans-serif;
  font-size: 1em;
  font-weight: 700;
  left: 0;
  transition-delay: 0s;
  transition-duration: $zoom-transition-duration;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 100%;
  position: absolute;
  right: 0;
  z-index: 3;
}

h2 {
  font-family: "Beleren SmallCaps Bold", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
  padding: 0 0 1.5em 0;
  text-align: center;
}

.card-item {
  display: inline-block;

  &.hidden {
    display: none;
  }
}

.image {
  border-radius: math.percentage(math.div(13, 204));
  box-sizing: border-box;
  height: $image-height;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-height: $image-height;
  min-width: $image-width;
  transition-delay: 0s;
  transition-duration: $zoom-transition-duration;
  transition-property: height, margin-bottom, margin-left, margin-right, margin-top, width;
  transition-timing-function: ease-out;
  width: $image-width;
  position: relative;
  z-index: 1;

  &.premium {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: premium;
    animation-timing-function: linear;
    background-image: linear-gradient(
      135deg,
      #b827fc40,
      #2c90fc40,
      #b8fd3340,
      #fec83740,
      #fd189240,
      #b827fc40,
      #2c90fc40,
      #b8fd3340,
      #fec83740,
      #fd189240,
    );
    background-size: 200% 200%;
    padding: $premium-border-width;
  }
}

input {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5rem 1rem;
}

.name {
  display: block;
  font-family: "Beleren Bold", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ol, ul {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(146px, 1fr));
  list-style-type: none;
  margin: 0;
  max-width: 100vw;
  padding: 0;

  > li {
    position: relative;

    &:hover {
      > .banned,
      > .count,
      > .proxy {
        opacity: 0;
      }

      > .image {
        @function zoom-offset($zoom, $size) {
          @return -1 * math.div(($zoom - 1) * $size, 4);
        }
    
        $height-zoom-offset: zoom-offset($image-height, $image-zoom);
        $width-zoom-offset: zoom-offset($image-width, $image-zoom);
    
        height: $image-height * $image-zoom;
        margin-bottom: math.ceil($height-zoom-offset);
        margin-left: math.ceil($width-zoom-offset);
        margin-right: math.floor($width-zoom-offset);
        margin-top: math.floor($height-zoom-offset);
        width: $image-width * $image-zoom;
        z-index: 2;

        &.premium {
          padding: $premium-border-width * $image-zoom;
        }
      }
    }
  }
}

.proxy {
  bottom: 50%;
  display: block;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  left: 0%;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 33%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  top: 50%;
  transform: rotate(305deg);
  transition-delay: 0s;
  transition-duration: $zoom-transition-duration;
  transition-property: opacity;
  transition-timing-function: ease-out;
  z-index: 3;
}

section {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 4em;

  &:not(:has(.card-item:not(.hidden))) {
    display: none;
  }
}
